.HomePage {
    background-image: url(../src/assets/img/img-home.jpg);
    background-size: cover;
    width: 100%;
    height: 100vh;
}

p {
    font-size: 1.5rem
}

.bg-purple {
    background-color: darkviolet;
    width: 100%;
    height: 100vh;
}